* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 59, 114);
  padding: 30px;
  position: fixed;
  width: 100vw;
  top: 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 30px;
  color: whitesmoke;
  margin-right: 15px;
}

.logo {
  margin-right: auto;
  color: whitesmoke;
}

.logo,
a,
li {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: whitesmoke;
  opacity: 0.9;
}

a:hover {
  opacity: 0.7;
}

.text {
  color: gray;
  margin-top: 100px;
}
